
<h3><i class="fa fa-angle-right"></i> List of claims</h3>
<div class="card-body bg-light">

<table class="table table-striped">

  <thead class="thead-inverse">
  <tr>
    <th></th>
    <th>email</th>
    <th>type reclamation</th>
    <th>date of claim</th>
    <th>action</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let reclamation of reclamationClients" >
        <td><img src="http://localhost:8087/avatar/{{reclamation.user.idUser}}" alt="user" width="70" class="img-circle"></td>
          <td>{{reclamation.user.email}}</td>
          <td>{{reclamation.user.dateReclamation}}</td>
          <td>{{reclamation.user.typeClaim}}</td>
          
          <td>
           
            
             
            
            <button class="action-button btn-success" [routerLink]="['/demandeReclamation', reclamation.idReclamation]"><mat-icon>remove_red_eye</mat-icon></button>
            <button class="action-button btn-danger" (click)="onDeleteReclamationClient(reclamation.idReclamation)"><mat-icon>delete_outline</mat-icon></button>


            
          </td>

         
      </tr>
  </tbody>
</table>
</div>