

<div class="container dept">
  <h3 class="title-body"> Departement List </h3>
 <div class="row mt-5">
   <div class="col-md-6 col-xs-12">
    <button 
    class="btn-primary"
   
     type="submit"
    (click)="onAddDepartement()">Ajouter Departement</button>
   </div> 
    <div  class="col-md-6 col-xs-12" >
        <input type="text" class="form-control borderOg" placeholder="Search" [(ngModel)]="searchText"/> 
      </div>  
      </div>  
    
  <div _ngcontent-roy-c3="" >
      
      
      
      <div style="margin:5px 0px" class=" mt-5">
     
          <ul class="list-group">
            
              <li class="list-group-item" *ngFor="let departement of departements | filter:searchText" >
                  <div class="groupe-row" class="todo-row" *ngIf="!editing || editingDepartement.id != departement.idDepartement">
                      
                         {{departement.name}}
                      
                        
                      
                  </div>
                 
                </li>
          </ul>
      </div>
      
</div>

</div>

