
<app-sidebar></app-sidebar>
<div class="container">
  <h3><i class="fa fa-angle-right"></i> Departement List </h3>
 
    
    <div  class="col-md-4" style="margin:15px;">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"/> 
      </div>    
      <table class="table table-striped" width="100px">
  <div _ngcontent-roy-c3="" >
      
      <br _ngcontent-roy-c3="">
      
      <button 
              class="btn-tache"
              style="margin-left: 35%; width: 30%;"
               type="submit"
              (click)="onAddDepartement()">Ajouter Departement</button>
      <br><br><br>
      
      <div style="margin:5px 0px" class="container">
     
          <ul class="list-group">
            
              <li class="list-group-item" *ngFor="let departement of departements | filter:searchText" >
                  <div class="groupe-row" class="todo-row" *ngIf="!editing || editingDepartement.id != departement.idDepartement">
                      
                         {{departement.name}}
                      
                        
                      
                  </div>
                 
                </li>
          </ul>
      </div>
      
</div>
</table>
</div>

