



<div class="add-post-content">
    <div class="container">
      <div>
        <h3 class="title-body">Créer une nouvelle Faq</h3>
      </div>
      <hr>
      <form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-md-2 col-sm-2 control-label">Question</label>
          <div class="col-md-10"> <input type="text" [formControlName]="'title'" class="form-control" placeholder="Title"></div>
         
        </div>
        <div class="form-group">
          <label class="col-md-2 col-sm-2 control-label mt-5">Réponse</label>
          <div class="col-md-10 mt-5"> <editor [formControlName]="'body'" [init]="{plugins: 'link'}"></editor></div>
         
        </div>
        
        <div class="block float-right mt-3">
          <button type="submit" class="btn btn-danger" (click)="onClose()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
       
      </div>
      </form >
     
    </div>
  </div>