
 <!--header start-->
 <div class="header nav-bg">
  <div class="sidebar-toggle-box">
    <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <!--logo start-->
  <a href="index.html" class="logo"><img src="./../../../assets/img/logo-sofrecom.png" alt=" sofrecom" width="50%"></a>
  <!--logo end-->

  <div class="nav notify-row" id="top_menu">
   <!--  notification start -->
   <ul class="nav top-menu" *ngIf="!isLoggedIn">
     <!-- settings start -->
     <li class="dropdown">
       <a class="btn btn1" routerLink="/home" title="Accueil"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></a>
      
     </li>
     <!-- settings end -->
     <!-- inbox dropdown start-->
     <li id="header_inbox_bar" class="dropdown">
       <a class="btn btn2" routerLink="/requestclient"><i class="fa fa-plus"></i> Add your complaint</a>
       
     </li>
     
   </ul>
   <!--  notification end -->
 </div>
  
  <div class="top-menu">

   <ul class="nav pull-right top-menu" *ngIf="!isLoggedIn">


     <li>
       <a href="/register" class="logout" routerLink="/register" title="Inscription"><i class="fa fa-user-plus"></i> Register</a>
     </li>
     <li>
       <a href="/login" class="logout" routerLink="/login" title="S'authentifier"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
      </svg> Sign in</a>
     </li>
   </ul>

   

    <ul class="nav pull-right top-menu" *ngIf="isLoggedIn">
      <li><a class="logout" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
     
    </ul>
    <!--mat-accordion  class="message-acc">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="margin-bottom: -3px;">
            <i class="fa fa-comments"></i> <span style="margin-left: 7px;">Messages</span> 
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="vacation-sub-menu" *ngFor="let contact of contacts">
          <li><i class="fa fa-lightbulb"></i><span class="blue mx-2">{{contact.subject}}</span> <button (click)="showMessage(contact.idContact)"> <i class="fa fa-plus"></i> </button>
          <span class="message_content mt-2" id="message_content_{{ contact.idContact }}">{{contact.message}}</span>
          </li>
          
          
        </div>
      </mat-expansion-panel>
    </mat-accordion--!> 
 
    
  </div>
  
</div>

<!--header end-->
