
<div class="container groups">
  <h3 class="title-body"> Groupe List </h3>
 
<div class="row mt-5">
    <div class="col-md-6">
        <button 
        class="btn-primary"
       
         type="submit"
        (click)="onAddGroupe()">Add Groupe</button>
    </div>
     <div  class="col-md-6" style="">
        <input type="text" class="form-control borderOg" placeholder="Search" [(ngModel)]="searchText"/> 
      </div>  
</div>
     
      
        
  <div _ngcontent-roy-c3="" >
      
      
      
      <div style="margin:5px 0px" class="mt-5">
     
          <ul class="list-group">
            
              <li class="list-group-item" *ngFor="let groupe of groupes | filter:searchText" >
                  <div class="groupe-row" class="todo-row" *ngIf="!editing || editingGroupe.id != groupe.idGroupe">
                      
                         {{groupe.name}}
                      
                  </div>
                 
                </li>
          </ul>
      </div>
      
</div>

</div>



