<app-sidebar></app-sidebar>
{{groupe||json}}
<div class="container">
  <h3><i class="fa fa-angle-right"></i> Groupe List </h3>
 
    
    <div  class="col-md-4" style="margin:15px;">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"/> 
      </div>    
      <table class="table table-striped" width="100px">
  <div _ngcontent-roy-c3="" >
      
      <br _ngcontent-roy-c3="">
      
      <button 
              class="btn-tache"
              style="margin-left: 35%; width: 30%;"
               type="submit"
              (click)="onAddGroupe()">Ajouter Groupe</button>
      <br><br><br>
      
      <div style="margin:5px 0px" class="container">
     
          <ul class="list-group">
            
              <li class="list-group-item" *ngFor="let groupe of groupes | filter:searchText" >
                  <div class="groupe-row" class="todo-row" *ngIf="!editing || editingGroupe.id != groupe.idGroupe">
                      
                         {{groupe.name}}
                      
                  </div>
                 
                </li>
          </ul>
      </div>
      
</div>
</table>
</div>



<!--
<h3><i class="fa fa-angle-right"></i> Groupe List </h3>

<div _ngcontent-roy-c3="" >
    
    <br _ngcontent-roy-c3="">
    
    <button 
            class="btn-tache"
            style="margin-left: 35%; width: 30%;"
             type="submit"
            (click)="onAddGroupe()">Ajouter Groupe</button>
    <br><br><br>

    <div style="margin:5px 0px" class="container">
        <ul class="list-group">
            
            <li class="list-group-item" *ngFor="let groupe of groupes"  >
                <div class="groupe-row" *ngIf="!editing || editingGroupe.id != groupe.id">
                    
                    <span class="todo-title">
                       {{todo.name}}
                    </span>
                    
                    <span class="todo-actions pull-right">
                        
                        <a (click)="deleteTodo(todo)">
                          <i class="material-icons delete">clear</i>
                        </a>
                    </span>
                </div>
                <div class="todo-edit" *ngIf="editing && editingGroupe.id === groupe.id">
                    <input class="form-control" type="text" 
                     [(ngModel)]="editingTodo.title" required>
                    <span class="edit-actions">
                        
                        <a (click)="clearEditing()">
                          <i class="material-icons">clear</i>
                        </a>
                    </span>
                </div>
              </li>
        </ul>
    </div>
    
</div>


-->