
<h3 class="title-body">Meetings </h3>
<hr width="60%" style="text-align: left; margin-bottom: 50px;  color: #535456;">
<div _ngcontent-roy-c3="" >
    
    <br _ngcontent-roy-c3="">
    
   


    <div class="row justify-content-center">
        <div class="col-md-12">
            <button _ngcontent-roy-c3="" class="btn-primary" type="submit"  (click)="onAddNote()"><i class="fa fa-plus-square"></i> Add a meeting</button>
            <br><br><br>
    <table class="table  card-body text" style="padding-right:10%">
    
        <thead class="thead-inverse">
        <tr>
          <th>Titre</th>
          <th>Type</th>
          <th>Jour Meeting</th>
          <th>Heure Meeting</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let meeting of meetings" >
                <td>{{meeting.titre}}</td>
                <td>{{meeting.type}}</td>
                <td>{{meeting.meetingDay}}</td>
                <td>{{meeting.meetingTime}}</td>
                
                <td>
                    <div class="container" >
                    <button class="action-button btn-warning" (click)="updateMeeting(meeting)"><mat-icon>edit</mat-icon></button>
                    <button class="action-button btn-danger" (click)="deleteMeeting(meeting)"><mat-icon>delete_outline</mat-icon></button>
                    </div>

                    
                  
              
                </td>
    
               
            </tr>
        </tbody>
      </table>
      </div>
    </div>
</div>


