
     

      <div class ="topp">
      <h3 class="title-body"> Mes demandes</h3>
      <hr width="60%" style="text-align: left; margin-bottom: 50px;  color: #535456;">
      <div class="row justify-content-center">
      
          <div class="col-md-12">
      <table class="table table-striped " >
      
          <thead class="thead-inverse">
          <tr>
            <th>Start day</th>
            <th>End day</th>
            <th>type</th>
            <th>Description</th>
            <th>Status</th>

          </tr>
          </thead>

          <tbody>
              <tr *ngFor="let demande of demandes" >
                  <td>{{demande.debutDemande}}</td>
                  <td>{{demande.finDemande}}</td>   
                  <td>{{demande.typeDemande}}</td>
                  <td>{{demande.description}}</td>
                  <td>{{demande.statusOfDemand}}</td>
                   
              </tr>
          </tbody>
        </table>
        </div>
      </div>
      </div>
      

