
<br _ngcontent-roy-c3="">
     

<div class ="topp">
<h3 class="title-body"> Liste des réclamations du client </h3>
<hr width="60%" style="text-align: left; margin-bottom: 50px;  color: #535456;">
<div class="row justify-content-center">

    <div class="col-md-12">
<table class="table table-striped card-body text" >

    <thead class="thead-inverse">
    <tr>
      <th>date de création</th>
      <th>type</th>
      <th>Description</th>
      <th>Statut</th>

    </tr>
    </thead>
<!--{{claims|json}} -->
    <tbody>
        <tr *ngFor="let claim of claims" >
            <td>{{claim.createdAt}}</td>
            <td>{{claim.typeClaim}}</td>
            <td>{{claim.description}}</td>
            <td>{{claim.statusOfDemand}}</td>
             
        </tr>
    </tbody>
  </table>
  </div>
</div>
</div>


