<div class="container pt-10" style="margin-top: 8%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt;"
                ><strong>SOFRECOM</strong>, est un cabinet de conseil et d'ingénierie spécialisé dans les télécommunications...</span
              ><br />
              <span style="font-size: 17pt;">
                Raison d'être de Sofrecom : Nous contribuons à la création d'un monde connecté créateur de liens où salariés, clients et partenaires interagissent dans la confiance.</span
              >
            </p>
          </div>
  
          <div>
            <button
              mdbBtn
              type="button"
              (click)="start()"
              color="indigo"
              class="buttonText"
              mdbWavesEffect
              routerLink="/candidat"
            >
            Apply
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/img/sofrecomtunisie.jpg" width="553" height="200" style="margin-top: 16%;" />
      </div>
    </div>
  </div>