<form class="form-horizontal style-form">
  
    <div class="form-group">
      <label class="col-md-4 col-sm-2 control-label" for="name">Add Departement</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="departement.name" class="form-control"
        name="name" id="name" placeholder="Nom de Département" data-rule="required">
        
        
      </div>
    </div>
  
    
  </form>


        <div class="click float-right">
          <button _ngcontent-roy-c3="" 
                class="btn  btn-danger" 
                type="submit" 
                (click)="onClose()">Cancel</button>
          <button _ngcontent-roy-c3="" 
                class="btn  btn-primary" 
                type="submit" 
                (click)="onSubmit()">Save</button>
          
        
        </div>
