<div class="wrapper">
    <div class="left">
        <img src="./../../../../assets/img/avatarProfil.png" alt="user"  class="center">
        <h5>{{reclamation.prenom}} {{reclamation.nom}} </h5>

    </div>
    <div class="right">
        <div class="info">
            <h3>General information</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Email</h4>
                    <p>{{reclamation.email}}</p>
                </div>
                <div class="data">
                    <h4>Phone number</h4>
                    <p>{{reclamation.phone}}</p>
                </div>
                <div class="data">
                    <h4>Date of complaint</h4>
                    <p>{{reclamation.dateReclamation}}</p>
                </div>

            </div>
        </div>

        
       

        <div class="exp">
            <h3>Attached documents
            </h3>
            <div class="exp_data">
                <div class="data">
                  
                    <a href="http://localhost:8087/downloadFile/{{reclamation.pj1}}"
                class="cv">  <h4 style="color:blue">Fichier 1   
                      <i class="fa fa-download"></i></h4></a>
                  
                </div>
                <div class="data">
                   
                    <a href="http://localhost:8087/downloadFile/{{reclamation.pj2}}"
                class="cv"> <h4 style="color:blue">Fichier 2   
                       <i class="fa fa-download"></i></h4></a>
                
                   
                    
                </div>
                

            </div>
        </div>
        <div class="row" style="    position: absolute;
        bottom: 0;">
           
            <div class="col-md-6">
                 <a class="btn btn-success"(click)="sendConfirmMsg(reclamation.idReclamation)">Send an email of confirmation</a></div>
           <div class="col-md-6"> 
            <a class="btn btn-danger" (click)="sendDenyMsg(reclamation.idReclamation)">Send an email of rejection</a>
        </div>
        
           
            </div>
    </div>
    
</div>

    

