.btn-theme {
    color: #fff;
    font-weight: 600;
    background: rgb(255,151,40);
    background: linear-gradient(90deg, rgba(255,151,40,1) 0%, rgba(17,197,187,1) 69%, rgba(2,103,173,1) 100%);
    border-color: #48bcb4;
}
.btn-block {
    display: block;
    width: 100%;
}
.logo{
    margin: 10px auto !important;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-weight: 400;
}

body {
    color: #797979;
    background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

.card {
    height: 300px;
    width: 380px;
}

.btn{
    font-size: 16px;
}

input {
    font-size: 16px;
}

h3{
    font-size: 12px;
}