<h3> List of reclamationClients</h3>
<div _ngcontent-roy-c3="" class="card-body bg-light">
   
   
    <table class="table table-striped" style="margin-top: 2%;">
  
      <thead class="thead-inverse">
      <tr>
        <th>email</th>
        <th>Type Récalamation</th>
        <th>Date Réclamation</th>
        
        <!--th>pj1</th-->
        <th>pj</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
          <tr *ngFor="let reclamationClient of listReclamations | paginate: {itemsPerPage: 4, currentPage: p}" >
            <td>{{reclamationClient.email}}</td>
            <td>{{reclamationClient.typeClaim}}</td>
             <td>{{reclamationClient.dateReclamation}}</td>
            
              <td>
                <a href="http://localhost:8087/downloadFile/{{reclamationClient.pj1}}"
                class="pj1">{{reclamationClient.pj1}} <i class="fa fa-download"></i></a>
          <br>
              
                <a href="http://localhost:8087/downloadFile/{{reclamationClient.pj2}}" 
                class="pj1">{{reclamationClient.pj2}} <i class="fa fa-download"></i></a>

              </td>
              <td>
                <button class="action-button btn-success" [routerLink]="['/profilClient', reclamationClient.idReclamation]"><mat-icon>remove_red_eye</mat-icon></button>
                <button class="action-button btn-primary" [routerLink]="['/addtimesheet', reclamationClient.idReclamation] "><mat-icon> attach_file</mat-icon></button>
                <button class="action-button btn-danger" (click)="deleteTodo(reclamationClient)"><mat-icon>delete_outline</mat-icon></button>
                <!--button class="bi bi-broadcast-pin" [routerLink]="['/profilClient', reclamationClient.idReclamation]"><mat-icon>affecter</mat-icon></button-->
              </td>

              <!-- <button mat-raised-button class="action-button btn-success" [routerLink]="['/profilEmploye', employe.idUser]"><mat-icon>
                remove_red_eye

              </mat-icon></button>
              <button mat-raised-button class="action-button btn-primary" (click)="updateUser(employe)"><mat-icon>edit</mat-icon></button> 
              <button mat-raised-button class="action-button btn-danger" (click)="archiveEmploye(employe)"><mat-icon>delete_outline</mat-icon></button>-->
  
          </tr>
      </tbody>
    </table>
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
 
  










