
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
table{
    /*position: absolute;
    z-index: 2;
    left: 57%;
    top: 65%;
    transform: translate(-50%,-50%);
    width: 30%; */
    border-collapse: collapse;
    border-spacing: 0;
    /*box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;*/
    overflow: scroll;
   
   }
   th{
    background-color: #ff9728;
    color:#fff;
    font-weight:600;
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }

   .qs{
    border-radius: 12px 12px ;
    background-color: #4ECDC4;
    height: 25px;
   }





* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination{
    float:right;
    background-color: white;
}

.form-control {
    display: block;
  width:50%;
    padding: .375rem .75rem;
   margin:10px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;}

   