
<h3 class="title-body">Timetracking</h3>
<hr width="60%" style="text-align: left; margin-bottom: 50px;  color: #535456;">
  

<div>
    
  <div >
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText"/> 
  </div>

  <table class="table table-striped" >

    <thead>
    <tr>
      <th>Image</th>
      <th>Nom & prénom</th>
      <th>Fonction</th>
      <th>Département</th>
     
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employe of employees | filter:searchText | paginate: {itemsPerPage: 4, currentPage: p}" >
          <td><img src="http://localhost:8087/avatar/{{employe.idUser}}" alt="user" 
            width="80" class="img-circle" [routerLink]="['/presence-calendar', employe.idUser]">
          </td>
          <td> {{employe.prenom}} {{employe.nom}}    </td>
           <td> {{employe.fonction}}  </td> 
           <td> {{employe.departement}}  </td> 


            

           
        </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  </div>
  
  
